---
title: Kontakt
permalink: /kontakt/
top_url: /kontakt/
main_menu: true
weight: 7
layout:
---

<!DOCTYPE html>
<html>
  {% include head-kontakt-map.html %}

  <body onLoad="mapinit();">
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>

		<p style="text-align:center">Wir freuen uns, wenn du Kontakt mit uns aufnimmst, sei es persönlich bei einem unserer Treffen oder über das Internet.</p>

		<div class="box" id="treffen">
			<h3>Treffen</h3>
			<div id="map" style="height: 30em; margin: 1em 0; width: 45%; float: right; margin-left: 2em"></div>
			<p>Wir treffen uns jede zweite Woche donnerstags in den Räumen des <a href="https://entropia.de/">Entropia e.V.</a>, in der Steinstraße 30. </p>
			<p>Das nächste Treffen ist am 04.Februar.</p>
			<p>Wenn Du neu bei Freifunk bist, bereits einen Router einrichten möchtest oder einfach nur mehr über das Projekt erfahren willst, komm' einfach zu einem persönlichen Gespräch um <strong>19:30 Uhr</strong> vorbei. Wir freuen uns auf deinen Besuch!</p>
			<p>Ab <strong>20 Uhr</strong> findet dann unser Plenum statt, in dem wir aktuelle Entwicklungen diskutieren und unser weiteres Vorgehen koordinieren.

			<h4>Anfahrt</h4>
			<ul>
				<li><strong>Wegbeschreibung:</strong> In der Stadtmitte von Karlsruhe im Hinterhof der Steinstraße 23 (im Stadtplan am Lidellplatz, nördlich der Kriegsstraße/B10 und westlich der Fritz-Erler-Straße). An dem Hinterhof kann man leicht vorbeilaufen, man sieht von Lidellplatz erstmal nur ein relativ grosses Tor. Wenn man durch das Tor durchgeht, sieht man zuerst eine Töpferei und dann rechts eine Fahrradwerkstatt. <b>Linker Hand gegenüber der Fahrradwerkstatt (neben dem Querfunk) ist die Tür, die zu den Räumen des Entropia führt.</b> Unter dem Entropia ist eine Rechtsanwaltskanzlei, die man durch die gleiche Tür erreicht.
				<li><strong>ÖPNV:</strong> Haltestellen Kronenplatz, Ettlinger Tor und Rüppurrer Tor. Verbindungsauskunft auf der Seite des <a href="http://www.kvv.de">KVV</a>.</li>
				<li><strong>PKW:</strong> Aufgrund der angespannten Parkplatzsituation im am Lidellplatz empfehlen wir das Auto in einem Parkhaus abzustellen.</li>
			</ul>
			<p>Fahrräder können im Innenhof abgestellt werden.</p>
		</div>
		<div class="box">
			<h3>Kontaktdaten</h3>
			<p>Wenn es dir nicht möglich ist uns zu besuchen, dann gibt es natürlich noch alternative Kontaktwege:</p>
			<ul>
				<li><a href="mailto:{{site.email}}">Email ({{site.email}})</a></li>
				<li><a href="http://www.twitter.com/{{site.twitter_username}}">Twitter (@{{site.twitter_username}})</a></li>
				<li><a href="http://www.facebook.com/freifunkKA">Facebook</a></li>
				<li><a href="https://lists.bl0rg.net/cgi-bin/mailman/listinfo/freifunk-ka">Mailing-Liste</a></li>
				<li>(oder mit IRC-Client <a href="irc://irc.hackint.eu/ffka">irc://irc.hackint.eu/ffka</a>)</li>


			</ul>
		</div>
    </section>

    {% include footer.html %}

  </body>
</html>
