---
title: Kontakt
permalink: /kontakt/
top_url: /kontakt/
main_menu: true
weight: 7
layout:
---

<!DOCTYPE html>
<html>
  {% include head-kontakt-map.html %}
  <script src="{{ "/js/eyecandy.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/TweenMax.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/moment.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/moment-with-locales.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/moment-recur.js" | prepend: site.baseurl }}"></script>

  <body onLoad="mapinit();">
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>

		<p style="text-align:center">Wir freuen uns, wenn du Kontakt mit uns aufnimmst, sei es persönlich bei einem unserer Treffen oder über das Internet.</p>

		<div class="box" id="treffen">
			<h3>Treffen</h3>
			<div id="map" style="height: 30em; margin: 1em 0; width: 45%; float: right; margin-left: 2em"></div>
			<p>Wir treffen uns jede zweite Woche donnerstags in den Räumen des <a href="https://entropia.de/">Entropia e.V.</a>, in der Steinstraße 23. </p>

			<p>Das nächste Treffen <b>fällt jedoch aus</b>. Stattdessen sind wir vom 26. bis 29. Mai auf der <a href="https://entropia.de/GPN16">16. Gulaschprogrammiernacht</a> in der HfG Karlsruhe (<a href="https://entropia.de/GPN16:Anfahrt">Lorenzstraße 15</a>) (Eintrittsgebühr freiwillig).

			<p>Wenn Du neu bei Freifunk bist, bereits einen Router einrichten möchtest oder einfach nur mehr über das Projekt erfahren willst, komm' einfach dort <b>an unserem Tisch</b> vorbei und sprich uns an! Wir freuen uns auf deinen Besuch!</p>

			<!--
			<p>Das nächste Treffen findet <strong><span id="nextMeetingTime"></span></strong> statt.</p>
			<p>Wenn Du neu bei Freifunk bist, bereits einen Router einrichten möchtest oder einfach nur mehr über das Projekt erfahren willst, komm' einfach zu einem persönlichen Gespräch um <strong>19:30 Uhr</strong> vorbei. Wir freuen uns auf deinen Besuch!</p>
			<p>Ab <strong>20 Uhr</strong> findet dann unsere Diskusionsrunde statt, in dem wir aktuelle Entwicklungen diskutieren und unser weiteres Vorgehen koordinieren.
			-->

			<h4>Anfahrt (reguläre Treffen)</h4>
			<ul>
				<li><strong>Wegbeschreibung:</strong> In der Stadtmitte von Karlsruhe im Hinterhof der Steinstraße 23 ("Gewerbehof", im Stadtplan am Lidellplatz, nördlich der Kriegsstraße/B10 und westlich der Fritz-Erler-Straße). An dem Hinterhof kann man leicht vorbeilaufen, man sieht vom Lidellplatz aus erstmal nur ein relativ grosses Tor. Wenn man durch das Tor durchgeht, sieht man zuerst eine Töpferei und dann rechts eine Fahrradwerkstatt. <b>Linker Hand gegenüber der Fahrradwerkstatt (neben dem Querfunk) ist die Tür, die über eine steile Treppe zu den Räumen des Entropia führt.</b> Unter dem Entropia ist eine Rechtsanwaltskanzlei, die man durch die gleiche Tür erreicht.
				<li><strong>ÖPNV:</strong> Haltestellen Kronenplatz, Ettlinger Tor oder Rüppurrer Tor. Verbindungsauskunft auf der Seite des <a href="http://www.kvv.de">KVV</a>.</li>
				<li><strong>PKW:</strong> Aufgrund der angespannten Parkplatzsituation am Lidellplatz empfehlen wir, das Auto in einem Parkhaus abzustellen.</li>
			</ul>
			<p>Fahrräder können im Innenhof abgestellt werden.</p>
		</div>
		<div class="box">
			<h3>Kontaktdaten</h3>
			<p>Wenn es dir nicht möglich ist, uns zu besuchen, dann gibt es natürlich noch alternative Kontaktwege:</p>
			<ul>
				<li><a href="mailto:{{site.email}}">Email ({{site.email}})</a></li>
				<li><a href="http://www.twitter.com/{{site.twitter_username}}">Twitter (@{{site.twitter_username}})</a></li>
				<li><a href="http://www.facebook.com/freifunkKA">Facebook</a></li>
				<li><a href="https://lists.entropia.de/listinfo/freifunk-ka">Mailing-Liste</a></li>
				<li>(oder mit IRC-Client <a href="irc://irc.hackint.eu/ffka">irc://irc.hackint.eu/ffka</a>)</li>


			</ul>
		</div>
    </section>

   <script>
	   moment.locale('de');
	   interval = moment( "2016-02-04" ).recur().every(2).weeks();
	   now = moment(new Date());
	   interval.fromDate(new Date());
	   nextDate = moment(new Date(interval.next(1)));
	
	   if (nextDate.isSame(now, 'day')) {
		   nextDateStr = "heute";
	   } else {
		
		   nextDateStr = "";
		   if (nextDate.diff(moment(), 'day') < 7) {
			   nextDateStr += "kommenden ";
			}
			
		   nextDateStr += nextDate.format("dddd") + ", den " + nextDate.format("DD. MMMM");
	   }
	   $('#nextMeetingTime').text(nextDateStr);
  </script>

    {% include footer.html %}

  </body>
</html>
